* {
    --maincolor1: #050505;
    --maincolor2: #BDBDBD;
    --maincolor3: #7C7C7C;
    --maincolor4: #212529;
    --maincolor5: #9B9B9B;
    --maincolor6: rgba(33, 37, 41, 0.75);
    --maincolor7: #747474;
    --bs-gray: #6c757d;

    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;

    --faintblack1: rgba(0, 0, 0, 0.1);
    --faintblack2: rgba(0, 0, 0, 0.2);
    --faintblack3: rgba(0, 0, 0, 0.3);
    --faintblack4: rgba(0, 0, 0, 0.4);
    --faintblack5: rgba(0, 0, 0, 0.5);
    --faintblack6: rgba(0, 0, 0, 0.6);
    --faintblack7: rgba(0, 0, 0, 0.7);
    --faintblack8: rgba(0, 0, 0, 0.8);
    --faintblack9: rgba(0, 0, 0, 0.9);
    --faintblack10: rgba(0, 0, 0, 1);

    --faintwhite1: rgba(255, 255, 255, 0.1);
    --faintwhite2: rgba(255, 255, 255, 0.2);
    --faintwhite3: rgba(255, 255, 255, 0.3);
    --faintwhite4: rgba(255, 255, 255, 0.4);
    --faintwhite5: rgba(255, 255, 255, 0.5);
    --faintwhite6: rgba(255, 255, 255, 0.6);
    --faintwhite7: rgba(255, 255, 255, 0.7);
    --faintwhite8: rgba(255, 255, 255, 0.8);
    --faintwhite9: rgba(255, 255, 255, 0.9);
    --faintwhite10: rgba(255, 255, 255, 1);

    --font-family: Inter, sans-serif;
}



@media screen and (max-width: 1044px) {
    body {
        background-color: var(--bs-gray-900);
        padding: 0px;
        font-family: Space Mono, monospace;
        margin: 0px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--maincolor1);
        height: 50px;
        width: 100%;
    }

    .logoDiv {}

    .logo {
        height: 70px;
    }

    .navSecondDiv {
        position: absolute;
        top: 50px;
        left: 0px;
        height: calc(100vh - 50px);
        width: 100%;
        padding-top: 20px;
        background-color: var(--faintblack5);
        z-index: 40;
        display: none;
    }

    .navLinksDiv {
        display: flex;
        width: 100%;
        gap: 20px;
        flex-direction: column;
    }

    .navLinksDiv>button {
        color: white;
        text-decoration: none;
        padding-left: 10px;
        background: transparent;
        border: none;
        width: 100%;
    }

    .navLinksDiv>button>div {
        padding-top: 5px;
        width: 50%;
        text-align: left;
        padding-bottom: 10px;
    }

    .navLinksDiv>button:active {
        text-decoration: underline;
    }

    main {
        /* display: flex; */
        /* width: 100%; */
    }

    #pointsDiv {
        display: none;
    }

    .connectAccountDiv {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-right: 10px;
        flex-direction: row-reverse;
        margin-top: -4px;
    }

    .menuBtnDiv {
        display: flex;
    }

    .menuBtnDiv {
        height: 40px;
        width: 40px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px var(--faintwhite4);
    }

    .menuBtn {
        height: 30px;
        width: 30px;
        filter: invert(100%);
        box-shadow: 0px 4px 0px 0px var(--faintwhite6);
    }

    .menuBtn {
        height: 40px;
        width: 40px;
    }

    .connectAccount {
        height: 40px;
        width: 90px;
        font-size: 13px;
        font-weight: 500;
        /* border-radius: 8px; */
        border: none;
        gap: 5px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        background-color: white;
        box-shadow: 0px 3px 0px 0px var(--faintwhite6);
    }

    .connectAccount:active {
        transition: 200ms ease-in-out;
        transform: translateY(3px);
        box-shadow: 0px 0px 0px 0px var(--faintwhite6);

    }

    .connectAccount>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .connectAccountImg {
        height: 15px;
    }

    .sections {
        height: calc(100vh -70px);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .sectionHeader {
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        box-shadow: 0px 4px 0px 0px var(--faintwhite6);
    }

    .sectionDiv {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: calc(100% - 40px);
    }

    #home {
        display: flex;
        justify-content: space-around;
    }

    .home-image>img {
        width: 100%;
        /* height: 100px; */
    }

    .homeContent {
        color: white;
        font-size: 20px;
        width: 80%;
        text-align: center;
        text-shadow: 2px 2px var(--bs-gray-700);
    }

    .rightHomeArrow{
        height: 15px;
    }

    .homeButtonDiv{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }   

    .homeButton{
        display: flex;
        align-items: center;
        gap: 5px;
        height: 30px;
        border: none;
        background-color: white;
        box-shadow: 0px 4px 0px 0px var(--faintwhite6);
    }

    .homeButton:active{
        box-shadow: 0px 0px 0px 0px var(--faintwhite6);
        transform: translateY(4px);
        transition: 50ms;
    }

    

    #tokenomics {
        display: none;
    }

    .pieChartDiv {}

    .pieChartDiv>img {
        width: 100%;
    }

    .tokenomicsDiv {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border-radius: 10px; */
        box-shadow: 0px 4px 0px 0px var(--faintwhite6);
        background-color: white;
        padding: 10px 20px;
    }

    .tokenomicsDiv>div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px 5px;
    }

    .sectionDiv {

    }

    #earnPoints {
       display:none;
    }

    .sectionHeader{
        display: none;
    }

      
    .sectionDiv2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 950px;
        height: calc(100% - 40px);
        gap: 10px;
    }

    .pointsDiv{
        height: 40px;   
        width: 80%;
        background-color: var(--faintwhite10);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        box-shadow: 0px 4px 0px 0px var(--faintwhite6);
    }
    

    .tasksMainDiv{
        height: calc(100% - 80px);
        border: solid 2px var(--faintwhite10);
        width: calc(80% - 23px);
        padding:10px;
        gap: 5px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scroll-behavior: smooth;    
    }

      ::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        /* border-radius: 10px !important; */
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8;
      }
      ::-webkit-scrollbar-track {
        background: #e6e6e6;
        border-left: 1px solid transparent;
        /* border-radius: 10px !important; */
      }
      ::-webkit-scrollbar {
        width: 7px;
        scroll-behavior: smooth !important;
      }
    
    .taskDiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bs-gray-dark);
        border-radius: 10px;
        padding: 10px;
        width: calc(100% -20px);
    }


    .taskhead{
        font-size: 16px;
        margin-left: 10px;
        color: white;
    }

    .taskLink{
        text-decoration: none;   
    }

    .taskBtn{
        height: 40px;   
        width:100px;
        display: flex;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        border: none    ;
        background-color: white;
        box-shadow: 0px 4px 0px 0px var(--faintwhite6);
    }

    .taskBtn:active{
        box-shadow: 0px 0px 0px 0px var(--faintwhite6);
        transform: translateY(4px);
        transition: 100ms;
    }


    #contact {
        display: none;
    }

}


@media screen and (min-width: 1044px) {
    body {
        background-color: var(--bs-gray-900);
        padding: 0px;
        font-family: Space Mono, monospace;
        margin: 0px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--maincolor1);
        height: 70px;
    }

    .logoDiv {}

    .logo {
        height: 125px;
    }

    .navLinksDiv {
        display: flex;
        gap: 20px;

    }

    .navLinksDiv>button {
        color: white;
        text-decoration: none;
        border: none;
        background: transparent;
        font-size: 16px;
        
    }

    .navLinksDiv>button:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    .connectAccountDiv {
        display: flex;
        gap: 8px;
        margin-right: 20px;
    }

    .menuBtnDiv {
        display: none;
    }

    .connectAccount {
        height: 40px;
        width: 110px;
        font-size: 15px;
        font-weight: 500;
        /* border-radius: 8px; */
        border: none;
        gap: 5px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        background-color: white;
        box-shadow: 0px 4px 0px 0px var(--faintwhite6);

    }

    .connectAccount:hover {
        transition: 100ms ease-in-out;
        transform: translateY(4px);
        box-shadow: 0px 0px 0px 0px var(--faintwhite6);

    }

    .connectAccount>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .connectAccountImg {
        height: 25px;
    }

    .card {
        height: 100px;
        width: 70px;
        background-color: var(--maincolor6);
    }

    main {
        height: calc(100vh - 70px);
    }

    .sections {
        height: calc(100%);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sectionHeader {
        background-color: white;
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        height: 40px;
        box-shadow: 0px 4px 0px 0px var(--faintwhite6);

    }

    .sectionHeader>h1 {
        font-size: 40px;
        width: 50%;
        text-align: center;
    }

    #home{
        display: flex;
    }

    .homeContent {
        color: white;
        font-size: 40px;
        text-shadow: 2px 4px var(--bs-gray-700);
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* align-items: center; */
    }

    .rightHomeArrow{
        height: 15px;
    }

    .homeButtonDiv{
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 250px;
        margin-top: 30px;
        margin-bottom: 10px;
    }   

    .homeButton{
        
        align-items: center;
        gap: 5px;
        height: 30px;
        width: 120px;
        display: flex;
        justify-content: center;
        border: none;
        background-color: white;
        box-shadow: 0px 4px 0px 0px var(--faintwhite6);
    }

    .homeButton:active{
        box-shadow: 0px 0px 0px 0px var(--faintwhite6);
        transform: translateY(4px);
        transition: 50ms;
    }


    #tokenomics {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
    }

    .pieChartDiv {
        width: 100%;
    }

    .pieChartDiv>img {
        width: 100%;
    }

    .tokenomicsDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border-radius: 10px; */
        box-shadow: 0px 4px 0px 0px var(--faintwhite6);
        background-color: white;
        padding: 10px 20px;
    }

    .tokenomicsDiv>div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px 5px;
    }

    .sectionDiv {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        width: 70%;
        max-width: 950px;
        height: calc(100% - 40px);
    }

  

    #earnPoints {
        
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
    }
    
    .sectionDiv2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        max-width: 950px;
        height: calc(100% - 40px);
        gap: 10px;
    }

    .pointsDiv{
        height: 50px;   
        width: 504px;
        background-color: var(--faintwhite10);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        box-shadow: 0px 4px 0px 0px var(--faintwhite6);
    }
    

    .tasksMainDiv{
        height: calc(100% - 60px);
        border: solid 2px var(--faintwhite10);
        width: 480px;
        /* border-radius: 10px; */
        padding:10px;
        gap: 5px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scroll-behavior: smooth;    
    }

      ::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        /* border-radius: 10px !important; */
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8;
      }
      ::-webkit-scrollbar-track {
        background: #e6e6e6;
        border-left: 1px solid transparent;
        /* border-radius: 10px !important; */
      }
      ::-webkit-scrollbar {
        width: 7px;
        scroll-behavior: smooth !important;
      }
    
    .taskDiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bs-gray-dark);
        border-radius: 10px;
        padding: 10px;
    }


    .taskhead{
        font-size: 20px;
        margin-left: 10px;
        color: white;
    }

    .taskLink{
        text-decoration: none;   
    }

    .taskBtn{
        height: 40px;   
        width: 120px;
        display: flex;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        border: none    ;
        background-color: white;
        box-shadow: 0px 4px 0px 0px var(--faintwhite6);
    }

    .taskBtn:hover{
        box-shadow: 0px 0px 0px 0px var(--faintwhite6);
        transform: translateY(4px);
        transition: 100ms;
    }

    #contact {
        display: none;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
    }

}